/* Restablece los estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Se controla el tamaño máximo del contenedor para que los elementos no toquen
directamente los bordes de la pantalla */
.container-fluid {
    max-width: 900px;
}

/* Se separa el "style" de la etiqueta HTML de la clase card para incluirla en el documento CSS */
.card {
    width: 18rem !important;
}